<div class='rating-stars text-center'>
    <ul id='stars' data-bind="foreach: options">
        <li class='star' data-bind="
            attr: {title: label, 'data-value': value, 'data-index': $index},
            event: {mouseover: $parent.mouseOver.bind($parent), mouseout: $parent.mouseOut.bind($parent)},
            click: $parent.mouseClick.bind($parent),
            css: {hover: $parent.checkIsHovered(value), selected: $parent.checkIsSelected(value)}
        ">
            <i class='fa fa-star fa-fw'></i>
        </li>
    </ul>
</div>
