<!--@vars {
"var comment":"Comment",
"var email":"Sender Email",
"var name":"Sender Name",
"var surveyResult":"Sender Survey Result",
"var websites":"Sender Websites",
"var rating":"Sender Rating"
"var module":"module name"
} @-->
<!--@subject {{trans "[Survey] %moduleName Feedback" moduleName=$moduleName}} @-->

<p><b>{{trans "Module name"}}:</b> {{var module}}</p>
<p><b>{{trans "Name"}}:</b> {{var name}}</p>
<p><b>{{trans "Email"}}:</b> {{var email}}</p>
<p><b>{{trans "Survey Result"}}:</b> {{var surveyResult}}</p>
<p><b>{{trans "Websites"}}:</b></p>
<p>{{block class='Magento\\Framework\\View\\Element\\Template' area='adminhtml' template='TNW_Marketing::email/survey/websites.phtml' websites=$websites}}</p>
<p><b>{{trans "Rating"}}:</b> {{var rating}}</p>
<p><b>{{trans "Comments"}}:</b></p>
<p>{{var comments}}</p>
