.wrapper-marketing .products {
    text-align: center;
}

.wrapper-marketing .label-products {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 600;
}

.wrapper-marketing .products > div{
    display: inline-block;
    width: 235px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 5px 0 5px;

}

.wrapper-marketing .products img{
    display: inline-block;
    vertical-align: middle;
}

.wrapper-marketing .products .image-wrapper{
    height: 150px;
    display: inline-block;
    line-height: 150px;
}

.wrapper-marketing .products .product-label{
    color: #444444;
    padding: 10px 0;
    font-weight: bold;
}

.wrapper-marketing .products .pay-link{
    height: 40px;
}

.wrapper-marketing .products .pay-link span{
    color: #AAAAAA;
    font-size: 1.5em;
    font-weight: 600;
}

.wrapper-marketing .products .pay-link a{
    display: inline-block;
    border: 1px solid #eb5202;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    font-weight: 600;
    background-color: #eb5202;
    color: #fff;
}

.wrapper-marketing .products .description{
    min-height: 120px;
}

.wrapper-marketing .products .pay-link a:hover{
    background-color: #ba4000;
    border-color: #b84002;
    box-shadow: 0 0 0 1px #007bdb;
    color: #fff;
    text-decoration: none;
}
