<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 TechNWeb, Inc. All rights reserved.
  ~ See TNW_LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tnwsforce_general">
            <group id="general">
                <field id="tnw_marketing" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>TNW\Marketing\Block\System\Config\Form\Extensions\Products</frontend_model>
                </field>
            </group>
        </section>
        <section id="tnw_subscriptions_general">
            <group id="general">
                <field id="tnw_marketing" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>TNW\Marketing\Block\System\Config\Form\Extensions\Products</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
