<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="tnwsforce_general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">

                <group id="upsells" translate="label" type="fieldset" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Our products built by PowerSync</label>
                    <frontend_model>TNW\Salesforce\Block\System\Config\Form\Field\Upsells</frontend_model>

                    <field id="tnw_module_authorizenetcim" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <button_url>https://powersync.biz/free-integrations-for-magento2?products=Authorize.Net%20CIM%20Payment%20Integration</button_url>
                        <label>Authorize.Net CIM</label>
                        <frontend_model>TNW\Salesforce\Block\System\Config\Form\Field\Upsells\Item</frontend_model>
                        <comment>Accept credit card payments using Authorize.Net payment gateway. Allow customer to save cards for their next purchase</comment>
                        <attribute type="image">TNW_Salesforce::images/preloader-sm.gif</attribute>
                        <frontend_class>tnw_upsells</frontend_class>
                    </field>

                    <field id="tnw_module_stripe" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <button_url>https://www.signifyd.com/magento-guaranteed-fraud-protection</button_url>
                        <label>tnw_module_stripe</label>
                        <button_label>tnw_module_stripe</button_label>
                        <frontend_model>TNW\Salesforce\Block\System\Config\Form\Field\Upsells\Item</frontend_model>
                        <comment>TEST comment tnw_module_stripe</comment>
                        <attribute type="image">TNW_Salesforce::images/preloader-sm.gif</attribute>
                        <frontend_class>tnw_upsells</frontend_class>
                    </field>

                    <!--                    <field id="tnw_quickbooksbasic" type="link" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">-->
                    <!--                        <label>tnw_module_stripe</label>-->
                    <!--                        <frontend_model>TNW\Salesforce\Block\System\Config\Form\Field\UpsellItem</frontend_model>-->
                    <!--                        <comment>TEST comment tnw_module_stripe</comment>-->
                    <!--                    </field>-->

                    <!--                    <field id="tnw_subscriptions" type="link" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">-->
                    <!--                        <label>tnw_subscriptions</label>-->
                    <!--                        <frontend_model>TNW\Salesforce\Block\System\Config\Form\Field\UpsellItem</frontend_model>-->
                    <!--                        <comment>TEST comment tnw_subscriptions</comment>-->
                    <!--                    </field>-->

                </group>

            </group>
        </section>
    </system>
</config>